.customers{
    

    &--container{
        padding: 100px 15px;
        padding-bottom: 60px;
    }
    
    &__title
    {
        text-align: center;
        font-family: $fontRealway;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        text-transform: uppercase;
        margin-bottom: 40px;

        @include mediaTablet{
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 30px;
        }
    
    }

    &--separator{
        margin: 0 auto;
        margin-bottom: 40px;

        @include mediaTablet{
            width: 140px;
            margin-bottom: 30px;
        }
    }

    &__description
    {
        font-family: $fontRealway;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #86878B;
        text-align: center;
        margin-bottom: 80px;

        @include mediaTablet{
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 30px;
        }
    }

    &__testimonials{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    }

    &__testimonial--none{
        @include mediaMobile{
            display: none;
        }
    }

    &__messages{
            background-color: #E2E2E2;
            color: #86878B;
            text-align: center;
            font-family: $fontRealway;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            align-items: center;
            border-radius: 10px;
            padding: 40px 30px;
            
            margin-right: 30px;

            @include mediaTablet{
                font-size: 14px;
                line-height: 16px;
            }
        
            @include mediaMobile{
                margin: 0 auto;
            }
        }



    &__polygon
    {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 20px solid #e2e2e2;
        margin-left: 50px;
        margin-bottom: 60px;

        @include mediaTablet{
            margin-bottom: 30px;
        }
    }


    &__image{
    position: absolute;
}

    &__name
    {
        font-family: $fontOpenSans;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        align-items: center;
        text-transform: capitalize;
        margin-left: 80px;
        margin-bottom: 20px;

        @include mediaTablet{
            font-size: 18px;
            line-height: 25px;
        }
    }
    

    &__job-title
{
    font-family: $fontRealway;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-left: 80px;

    @include mediaTablet{
        font-size: 14px;
        line-height: 16px;
    }
}
}
