.header{  
    background-color:#000000 ;

    &--container{
        display: flex;
        justify-content: space-between;
        background-color:#000000 ;
        padding-bottom: 0;
    }

    &__logo{
        
    }

    &__logo-img{
    @include mediaMobile{
    width: 140px;
    }
    }

    &__burger-btn{
        border: none;
        background: transparent;
        display: none;
        outline: none;

        @include mediaMobile{
            display: block;
        }
    }

    &__nav{
        @include mediaMobile{
            display: none;
        }
    }

    &-nav__list{
        display: flex;
        justify-content: space-between;
        height: 100%;
    }

    &-nav__item{
        width: 110px;
        padding-top: 30px;
        transition: background-color .3s ease-in-out ;
        display: flex;
        justify-content: center;
    }

    &-nav__item:hover{
        background-color: #EC7979;
        cursor: pointer;
    }

    &-nav__item:active{
        background-color: #AB4949;
    }
    
    &-nav__link{
        background-color: unset;
        color: #fff;
        text-decoration: none;
        font-family: $fontOpenSans;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
    }
}
